{% load static compress %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Inertia Dev</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% compress css %}
			<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
			<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
		{% endcompress %}
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1>Hello, we are Inertia Dev</h1>
								<hr />
								<p>We build <span style="background-color: #df7366; ">Solid Software Solutions</span></p>
							</header>
							<footer>
								<a href="#banner" style="height: 6em; width: 6em; line-height: 6em;" class="button circled scrolly">Let's Build</a>
							</footer>
						</div>						
				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>How can we <strong>help you?</strong></h2>
						<p>
							Describe your project and we will get back to you as soon as possible.
						</p>
					</header>
					{% include 'chatbot.html'%}	
				</section>

			<!-- Carousel -->

			<section id="banner">
				<header>
					<h2>We have collaborated with leading companies such as</strong></h2>
				</header>
			</section>
			 
			 
				<section class="carousel" id="projects">
					<div class="reel">
						<article>
							<a href="https://factoryinternational.org/" class="image featured"><img style="max-width: 100%; height: auto;" src="{% static 'images/clients/the_factory_cropped.jpg' %}" alt="" /></a>
							<header>
								<h4>The Factory International 🇬🇧</h4>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="{% static 'images/clients/am_cropped.jpg' %}" alt="" /></a>
							<header>
								<h4><a href="https://australian.museum/">The Australian Museum 🇦🇺</a></h4>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="{% static 'images/clients/agsa_cropped.jpg' %}" alt="" /></a>
							<header>
								<h4><a href="https://www.agsa.sa.gov.au/"></a>Art Gallery of South Australia 🇦🇺</a></h4>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="{% static 'images/clients/nga_cropped.jpg' %}" alt="" /></a>
							<header>
								<h4><a href="https://nga.gov.au/"></a>National Gallery of Australia 🇦🇺</a></h4>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img style="max-width: 100%; height: auto;" src="{% static 'images/clients/uts_cropped.jpg' %}" alt="" /></a>
							<header>
								<h4><a href="https://www.uts.edu.au/"></a>University of Technology (UTS) 🇦🇺</a></h4>
							</header>
						</article>
					</div>
				</section>				

			
				<div class="wrapper style1">

					<section id="work-with-us" class="container special">
						<header>
							<h2>Why Work With Us?</h2>
						</header>
						<br>
						<div class="row">
							<article class="col-3 col-12-mobile special">
								<header>
									<h3>✅ Expertise You Can Trust</h3>
								</header>
								<p>
									With 12+ years of experience, we deliver high-quality solutions tailored to your needs.
								</p>
							</article>
							<article class="col-3 col-12-mobile special">
								<header>
									<h3><a href="#">🚀 Results-Driven Approach</a></h3>
								</header>
								<p>
									We focus on delivering measurable results that help your business grow.
								</p>
							</article>
							<article class="col-3 col-12-mobile special">
								<header>
									<h3><a href="#">🤝 Collaborative & Transparent</a></h3>
								</header>
								<p>
									We believe in open communication and keeping you involved at every step.
								</p>
							</article>
							<article class="col-3 col-12-mobile special">
								<header>
									<h3>💡 Customized Solutions</h3>
								</header>
								<p>
									No one-size-fits-all approaches. We create solutions designed specifically for your goals.
								</p>
							</article>
						</div>
					</section>

				</div>

				<div class="wrapper style1" > 
					<section class="container special">
						<header>
							<h2 class="text-center">30-minutes call (free)</h2>
						</header>
						<form>
							<div class="row" style="margin-bottom: 1em;" id="call">
								<div class="col-6 col-12-mobile special">
									<input type="text" class="form-control" id="name" placeholder="Enter your name" required>
								</div>
								<div class="col-6 col-12-mobile special">
									<input type="email" class="form-control" id="email" placeholder="Enter your email" required>
								</div>
							</div>
							<button type="submit" class="btn primary">Book Call</button>

						</form>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="copyright">
									<ul class="menu">
										<li>&copy; InertiaDev. All rights reserved.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

		</div>

		{% compress js file %}
		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
		{% endcompress %}
	</body>
</html>